extends ../layout

block content
  .container.mt-4
    .row
      if polls.length == 0
        .col-sm-6
        h4= 'There are no polls to show'
      else
        each poll in polls
          .col-sm-4
            include index_polls.pug
      
