.card
  .card-header
    h4.card-title= poll.title
    p.text-muted Creado por #{poll.created_by}
  .card-body
    h6.card-text= poll.description
  .card-footer
    .row.justify-content-around.align-items-baseline
      p.text-muted Votos #{poll.votesCount()}
      a(href='/polls/' + poll._id).btn.btn-info Vota
