extends ../layout

block content
  .container.mt-4
    .col-sm-12
      .row.justify-content-center
        .col-sm-12
          .row.justify-content-around
            a(href="/") Back
            .group-icons
              a(href='#' id="share-link")
                i.fas.fa-link
              a(href='#')
                i.fab.fa-twitter
              a(href='#')
                i.fab.fa-facebook
        .col-sm-6.mt-3
          .row.justify-content-center
            .card
              .card-header
                h4.card-title= poll.title
                p= poll.description
              .card-body
                each option, i in poll.options
                  .progress
                    .progress-bar.progress-bar-animated.progress-bar-striped(role="progressbar" style="width: " + poll.votesPercentage(i) + "%;" aria-valuenow= poll.votesPercentage(i) aria-valuemin="0" aria-valuemax="100")= poll.votesPercentage(i) + '%'  
                  p.card-title= option.name
        include modal.pug
        
  script
    include ../../public/javascripts/share.js
